.footer__footer-top {
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    display: flex;

    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    display: flex;

    text-align: start;

    align-items: baseline;
  }
}
