.header__logo {
  @extend %logo;

  color: getColor('black-color');

  margin-right: 284px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__logo--blue {
  color: getColor('color-in-action');
}
