.modal-form {
  margin-left: auto;
  margin-right: auto;

  @extend %list;
}

.modal-form__unit {
  position: relative;

  display: flex;

  height: 58px;

  flex-direction: column;
  justify-content: space-between;

  padding: 0;
  margin-bottom: 10px;
}

.modal-form__label {
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.17;
  color: getColor('main-text-color');
}

.modal-form__field {
  padding-left: 42px;

  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;

  outline: none;

  transition: border-color 250ms $timing-function;

  &:focus {
    border-color: getColor('color-in-action');
  }

  &:focus + .modal-form__icon {
    fill: getColor('color-in-action');
  }
}

.modal-form__icon {
  position: absolute;

  top: 50%;
  left: 12px;

  transition: translateY(-50%);

  width: 18px;
  height: 18px;

  cursor: pointer;
  transition: fill 250ms $timing-function;
}

.modal-form__textarea-unit {
  display: flex;
  padding: 0;

  flex-direction: column;
  justify-content: space-between;

  height: 138px;

  margin-bottom: 20px;
}

.modal-form__textarea-field {
  height: 120px;
  width: 100%;

  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  outline: none;

  cursor: pointer;

  transition: border-color 250ms $timing-function;

  &::placeholder {
    font-size: 12px;

    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: getColor('color-in-action');
  }
}
